html {
    box-sizing: border-box;
}

*,*:before ,*:after {box-sizing: inherit;}

div {
    width: 100%;
    padding: 100px;
}

.one {
    background-color: lawngreen;
}

.two {
    background-color: lightcoral;
}

.three {
    background-color: lightseagreen;
}